___
# Análise Exploratória: Tipos de Variáveis e Medidas Resumo

## Aula 02 - Exercícios
___

## Índice

- [Empresa de TV](#empresa-de-tv)
    - [Tipos de variáveis](#tipos-de-variaveis)
    - [Exercício 1](#ex1)
- [Indo além...](#indo-alem)
    - [Exercício 1](#exe1)
    - [Exercício 2](#exe2)
    - [Exercício 3](#exe3)
    - [Exercício 4](#exe4)
    - [Exercício 5](#exe5)
    - [Exercício 6](#exe6)
    - [Exercício 7](#exe7)
- [Lista de comandos utilizados neste notebook](#comandos)


___

<div id="empresa-de-tv"></div>

## Empresa de TV

Uma empresa de TV via satélite criou recentemente dois tipos de planos de canais (A e B).

A empresa tem como objetivo estudar o perfil dos clientes que aderiram ao plano para enviar malas diretas aos potenciais clientes de cada tipo de plano.

A base de dados apresenta algumas variáveis para uma amostra de 82 clientes selecionados aleatoriamente dentre aqueles que aderiram aos planos. As variáveis têm os seguintes significados:

* CLIENTE: identificador do cliente.
* PLANO: apresenta o plano adquirido pelo cliente – (1=A ou 2=B). 
* EC: apresenta estado civil do cliente no momento da adesão ao  plano – (1=Casado, 2=Solteiro e 3=Outros).
* SATISFACAO: grau de satisfação do cliente pelo plano – 
	(5=Muito satisfeito, 4=Satisfeito, 3=Indiferente, 2=Insatisfeito e 1=Muito insatisfeito).
* RENDA: renda pessoal do cliente, em milhares de reais.

O arquivo `EmpresaTV Cod.xlsx` contém as variáveis descritas acima.

In [31]:
%matplotlib inline
import pandas as pd
import os

In [32]:
# Listando o diretório de trabalho. Lembre-se que o arquivo com a base de dados precisa estar neste diretório.
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\rodrigo\Desktop\CD21-1\aula02

In [33]:
# Carregando os dados do arquivo
dados = pd.read_excel('EmpresaTV Cod.xlsx')

In [34]:
dados['PLANO'] = dados['PLANO'].astype('category')
dados['EC'] = dados['EC'].astype('category')
dados['SATISFACAO'] = dados['SATISFACAO'].astype('category')

In [35]:
dados['PLANO'].cat.categories = ['A', 'B']
dados['EC'].cat.categories = ['Casado', 'Solteiro', 'Outros']
dados['SATISFACAO'].cat.categories = ['Muito Insatisfeito', 'Insatisfeito', 'Indiferente', 'Satisfeito', 'Muito Satisfeito']

In [36]:
# Visualizando as cinco primeiras linhas
dados.head(5)

   CLIENTE PLANO        EC        SATISFACAO  RENDA  Unnamed: 5  Unnamed: 6
0        1     A    Casado  Muito Satisfeito   21.4         NaN         NaN
1        2     A  Solteiro  Muito Satisfeito   17.2         NaN         NaN
2        3     A    Outros  Muito Satisfeito   15.6         NaN         NaN
3        4     A    Casado        Satisfeito   10.4         NaN         NaN
4        5     A  Solteiro  Muito Satisfeito   17.6         NaN         NaN

<div id="indo-alem"></div>

___

## Indo além...

Os exercícios a seguir integram conceitos vistos nas últimas duas aulas.

**DICA**: os exercícios marcados com &#x2605;&#x2605;&#x2605; são mais difíceis e vão exigir que você aprenda novas funções do pandas. Recomendamos que vocês tentem fazer esses exercícios mesmo depois da aula.
___

<div id="exe1"></div>

### EXERCÍCIO 1

A coluna SATISFACAO está com uma granularidade muito grande para algumas análises. Crie uma coluna `SENTIMENTO` no `DataFrame` com as seguintes categorias:

    Não curtiu, se SATISFACAO = Insatisfeito ou Muito Insatisfeito
    Indiferente, se SATISFACAO = Indiferente
    Curtiu, se SATISFACAO = Satisfeito ou Muito Satisfeito

In [56]:
dados['SENTIMENTO'] = ''
dados.loc[dados['SATISFACAO'] == 'Muito Insatisfeito', 'SENTIMENTO'] = 0
dados.loc[dados['SATISFACAO'] == 'Insatisfeito', 'SENTIMENTO'] = 0
dados.loc[dados['SATISFACAO'] == 'Indiferente', 'SENTIMENTO'] = 1
dados.loc[dados['SATISFACAO'] == 'Satisfeito', 'SENTIMENTO'] = 2
dados.loc[dados['SATISFACAO'] == 'Muito Satisfeito', 'SENTIMENTO'] = 2
dados

,CLIENTE,PLANO,EC,SATISFACAO,RENDA,Unnamed: 5,Unnamed: 6,SENTIMENTO
0,1,A,Casado,Muito Satisfeito,21.4,NaN,NaN,2
1,2,A,Solteiro,Muito Satisfeito,17.2,NaN,NaN,2
2,3,A,Outros,Muito Satisfeito,15.6,NaN,NaN,2
3,4,A,Casado,Satisfeito,10.4,NaN,NaN,2
4,5,A,Solteiro,Muito Satisfeito,17.6,NaN,NaN,2
...,...,...,...,...,...,...,...,...
77,0,B,Outros,Insatisfeito,4.3,NaN,NaN,0
78,0,B,Solteiro,Insatisfeito,5.7,NaN,NaN,0
79,0,B,Casado,Insatisfeito,4.0,NaN,NaN,0
80,0,B,Outros,Insatisfeito,5.4,NaN,NaN,0
81,82,B,Casado,Muito Insatisfeito,0.6,NaN,NaN,0

In [57]:
dados['SENTIMENTO'] = dados['SENTIMENTO'].astype('category')
dados['SENTIMENTO'].cat.categories = ['Não curtiu', 'Indiferente', 'Curtiu']
dados

,CLIENTE,PLANO,EC,SATISFACAO,RENDA,Unnamed: 5,Unnamed: 6,SENTIMENTO
0,1,A,Casado,Muito Satisfeito,21.4,NaN,NaN,Curtiu
1,2,A,Solteiro,Muito Satisfeito,17.2,NaN,NaN,Curtiu
2,3,A,Outros,Muito Satisfeito,15.6,NaN,NaN,Curtiu
3,4,A,Casado,Satisfeito,10.4,NaN,NaN,Curtiu
4,5,A,Solteiro,Muito Satisfeito,17.6,NaN,NaN,Curtiu
...,...,...,...,...,...,...,...,...
77,0,B,Outros,Insatisfeito,4.3,NaN,NaN,Não curtiu
78,0,B,Solteiro,Insatisfeito,5.7,NaN,NaN,Não curtiu
79,0,B,Casado,Insatisfeito,4.0,NaN,NaN,Não curtiu
80,0,B,Outros,Insatisfeito,5.4,NaN,NaN,Não curtiu
81,82,B,Casado,Muito Insatisfeito,0.6,NaN,NaN,Não curtiu

<div id="exe2"></div>

### EXERCÍCIO 2 &#x2605;&#x2605;&#x2605;

Monte uma tabela cruzada de sentimento versus plano e estado civil. 

**DICA 1**: a função `pd.crosstab` pode receber uma lista de `Series` (colunas de um `DataFrame`).

**DICA 2**: pesquise por "pandas crosstab multiple columns".

In [59]:
pd.crosstab([dados['PLANO'], dados['EC']],dados['SENTIMENTO'])

SENTIMENTO      Não curtiu  Indiferente  Curtiu
PLANO EC
A     Casado             4            3      19
      Solteiro           0            3      10
      Outros             3            1       3
B     Casado             4            2       4
      Solteiro           8            9       3
      Outros             5            1       0

<div id="exe3"></div>

### EXERCÍCIO 3

Que hipóteses você pode formular a partir dessa tabela?

ESCREVA SUA RESPOSTA AQUI

<div id="exe4"></div>

### EXERCÍCIO 4 &#x2605;&#x2605;&#x2605;

Anteriormente, vimos que não faz sentido realizar certas operações com a variável renda devido ao seu tipo de variável. Crie uma nova coluna em `dados` chamada FAIXA_DE_RENDA. Essa nova variável deve dividir a renda de todos os clientes em 3 faixas iguais (veremos que isso não necessariamente é uma boa ideia, mas vamos começar com essa análise simplificada).

<div id="cut"></div>

**DICA**: a função `pd.cut` pode ser útil para resolver este exercício.

In [86]:
dados['FAIXA_DE_RENDA'] = pd.cut(dados['RENDA'], [0,8,16,24])
dados

,CLIENTE,PLANO,EC,SATISFACAO,RENDA,Unnamed: 5,Unnamed: 6,SENTIMENTO,FAIXA_DE_RENDA
0,1,A,Casado,Muito Satisfeito,21.4,NaN,NaN,Curtiu,"(16, 24]"
1,2,A,Solteiro,Muito Satisfeito,17.2,NaN,NaN,Curtiu,"(16, 24]"
2,3,A,Outros,Muito Satisfeito,15.6,NaN,NaN,Curtiu,"(8, 16]"
3,4,A,Casado,Satisfeito,10.4,NaN,NaN,Curtiu,"(8, 16]"
4,5,A,Solteiro,Muito Satisfeito,17.6,NaN,NaN,Curtiu,"(16, 24]"
...,...,...,...,...,...,...,...,...,...
77,0,B,Outros,Insatisfeito,4.3,NaN,NaN,Não curtiu,"(0, 8]"
78,0,B,Solteiro,Insatisfeito,5.7,NaN,NaN,Não curtiu,"(0, 8]"
79,0,B,Casado,Insatisfeito,4.0,NaN,NaN,Não curtiu,"(0, 8]"
80,0,B,Outros,Insatisfeito,5.4,NaN,NaN,Não curtiu,"(0, 8]"
81,82,B,Casado,Muito Insatisfeito,0.6,NaN,NaN,Não curtiu,"(0, 8]"

<div id="exe5"></div>

### EXERCÍCIO 5

Monte uma tabela cruzada de sentimento versus plano e faixa de renda.

In [88]:
pd.crosstab(dados['FAIXA_DE_RENDA'], dados['SENTIMENTO'])

SENTIMENTO      Não curtiu  Indiferente  Curtiu
FAIXA_DE_RENDA
(0, 8]                  24           15       4
(8, 16]                  0            4      29
(16, 24]                 0            0       6

<div id="exe6"></div>

### EXERCÍCIO 6

Por que não faria sentido montar uma tabela cruzada utilizando a variável RENDA no lugar de FAIXA_DE_RENDA?

ESCREVA SUA RESPOSTA AQUI

<div id="exe7"></div>

### EXERCÍCIO 7

<div id="groupby"></div>

Reveja a função `.groupby` e utilize-a para imprimir as medidas resumo dos planos A e B, separadamente.

**DICA**: você pode usar a função `.describe()`.

In [96]:
dados.groupby(['PLANO']).describe()

      CLIENTE                                                     RENDA  \
        count       mean        std  min   25%   50%    75%   max count
PLANO
A        46.0  19.478261  14.212263  0.0  7.25  18.5  30.50  46.0  46.0
B        36.0  45.277778  31.129785  0.0  0.00  59.5  68.25  82.0  36.0

                  ... Unnamed: 5     Unnamed: 6
            mean  ...        75% max      count mean std min 25% 50% 75% max
PLANO             ...
A      10.421739  ...        NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
B       5.688889  ...        NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN

[2 rows x 32 columns]

<div id="comandos"></div>

___

## Lista de comandos utilizados neste notebook

Os seguintes comandos foram utilizados neste jupyter notebook. Para facilitar sua consulta, escreva um resumo do que cada um deles faz:

- [`.astype`](#astype): ESCREVA AQUI O RESUMO
- [`.cat.categories`](#categories): ESCREVA AQUI O RESUMO
- [`.value_counts`](#value_counts): ESCREVA AQUI O RESUMO
- [`pd.crosstab`](#crosstab): ESCREVA AQUI O RESUMO
- [`.mean`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.median`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.quantile`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.var`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.std`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.describe`](#describe): ESCREVA AQUI O RESUMO
- [`pd.cut`](#cut): ESCREVA AQUI O RESUMO
- [`.groupby`](#groupby): ESCREVA AQUI O RESUMO